<table>
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Fecha de vencimiento</th>
      <th>Precio</th>
      <th>Tipo</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let producto of productos">
      <tr
        (click)="selectPeli(producto)"
        [ngClass]="{ selected: producto === productoSele }"
      >
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.fechaDeVencimiento }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.tipo }}</td>
        <td>
          <img [src]="producto.foto" alt="{{ producto.nombre }}" height="50" />
        </td>
      </tr>
      <tr *ngIf="producto === productoSele" class="borrar-producto-row">
        <td colspan="5">
          <app-borrar-producto [producto]="productoSele"></app-borrar-producto>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
